.Library-Anime-Item ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 15px 10px;
    
}
h4{
    font-size: 1rem;
    
}
span {
    font-family: 200;
    font-size: 14px;
    text-align: center;
    color: rgb(184, 179, 179);
}
.img-Library{
    
    max-width: 70px;
}
