.card-wrapper{
    background-color: var(--color-dark);
    /* padding: calc(var(--padding-primary)/10); */
    margin: calc(var(--margin-primary)/4);
    border-radius: calc(var(--padding-primary)/4); 
    
}
.most-popular-item-title{
    font-size: 14px;
    flex: 1;
    line-height: 1.2rem;
}

.most-popular-item-img{
    width: 100%;
    padding: calc(var(--padding-primary)/2);
    /* margin: calc(var(--margin-primary)/4); */
}
.most-popular-content{
    color: var(--color-light);
    padding: calc(var(--padding-primary)/2);
    /* margin: calc(var(--margin-primary)/4); */
    display: flex;
    justify-content: space-between;
}

.most-popular-item{
    flex : 1 25%;
}

.li-card{
    font-size: 14px;
}