.section-wrapper{
    padding: calc(var(--padding-primary)/2);
    margin-top: calc(var(--margin-primary)/2);
    border-radius: calc(var(--padding-primary)/2);
    background-color: var(--color-darkest);
    
}

.section-header , h4{ 
    font-size: 36px;
    font-weight: bold;
    color: var(--color-light);
    padding-left: 12px;
}
