:root{
    --color-dark: #2f3640;
    --color-darkest: #212529;
    --color-light:white;
    --color-secondary: #e84118;
    --padding-primary: 50px; 
    --margin-primary : 50px;
}

body{
    background-color: var(--color-darkest);
}
ul{
    list-style: none;
}